# Dependencies
node_modules/
*/node_modules/
# Production builds
build/
dist/

# Environment variables
.env

# Dependency directories
node_modules/

# Ignore log files
*.log
logs/
npm-debug.log*

# Ignore package-lock.json
package-lock.json

.dockerignore

.vscode